
.publicidadAngostaDiv {
    background-color: rgb(5, 5, 5);
    height: 3.5vmax;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Oculta cualquier contenido que sobresalga del contenedor */
    position: relative; /* Posiciona el contenedor relativamente para el texto animado */
}

.publicidadAngostaDiv p {
    color: #EFD400;
    text-align: start;
    font-size: 1.5vmax;
    font-weight: bold;
    margin-bottom: 0;
    font-family: "Nunito Sans", sans-serif;
    position: absolute; /* Posiciona el texto de manera absoluta dentro del contenedor */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    animation: scroll-text 20s linear infinite; /* Aplica la animación de desplazamiento */
}



/* Animación del texto que se desliza de derecha a izquierda */
@keyframes scroll-text {
    0% {
        transform: translateX(-100%); /* Comienza desde fuera del contenedor, a la izquierda */
    }
    100% {
        transform: translateX(100%); /* Termina fuera del contenedor, a la derecha */
    }
}