* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #D8DFD8;
}

/* colores */
/* $primary-color:
$secondary-color:
$color-three:
$color-four:
$color-five:  */

/* fuentes */

